<section class="pInfo container-fluid">
    <div class="pInfo-name offset-md-4 col-md-4">
        <p>Name</p>
    </div>
    <div class="pInfo-address offset-md-4 col-md-4">
        <p>Address</p>
    </div>
    <div class="pInfo-phone offset-md-4 col-md-4">
        <p>Phone</p>
    </div>
    <div class="pInfo-fax-email offset-md-4 col-md-4 row">
        <div class="pInfo-fax-child col-md-6">
            <p>Fax</p>
        </div>
        <div class="pInfo-fax-child col-md-6">
            <p>Email</p>
        </div>
    </div>
</section>