<section class="pInfo container-fluid">
    <div class="pInfo-name offset-md-4 col-md-4">
        <p><strong>Name:</strong></p>
        <p>Richard S Rodriques</p>
    </div>
    <div class="pInfo-address offset-md-4 col-md-4">
        <p><strong>Address:</strong></p>
        <p>71 Star Trek Drive, Florida(FL), 32466</p>
    </div>
    <div class="pInfo-phone offset-md-4 col-md-4">
        <p><strong>Phone:</strong></p>
        <p>+1-202-555-0119</p>
    </div>
    <div class="pInfo-fax-email offset-md-4 col-md-4 row">
        <div class="pInfo-fax-child col-md-6">
            <p><strong>Fax:</strong></p>
            <p>+1 212 999 8888</p>
        </div>
        <div class="pInfo-fax-child col-md-6">
            <p><strong>Email:</strong></p>
            <p> xmgla@business.dev</p>
        </div>
    </div>
</section>